.header {
    background-color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    border: 1px solid lightgrey;      
}

.designa {
    border: 10px solid white;
    float: left;
    width: 200px;
    padding: 50px;
    margin-left: 100px;
    margin-top: 30px;
    display: inline-block;
    background-color: white;
    height: 500px;
}

.image1 {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin-left: 27px;
    margin-top: -25px;
}

.designc {
    border: 10px solid white;
    width: 820px;
    padding-top: 10px;
    margin-top: 30px;
    float: right;
    height: 220px;
    display: inline-block;
    margin-right: 25px;
    text-align: left;
    background-color: white;
}

.image2 {
    height: 210px;
    width: 210px;
    float: left;
    margin-right: 20px;
}

.designd {
    background-color: white;
    border: 10px solid white;
    width: 820px;
    padding-top: 10px;
    margin-top: 30px;
    float: right;
    height: 220px;
    display: inline-block;
    margin-right: 25px;
    text-align: left;
    margin-bottom: 40px;
}

.designe {
       position: absolute;
background-size: cover;
background-color: lightgrey;
padding-bottom: 20px;
} 

   